<%- model_class = Profile -%>
<div class="page-header">
  <h1><%= t("profile.index_title") %></h1>
</div>
<div id='map'></div>
<script>
  L.mapbox.accessToken = '<%= Rails.application.secrets.mapbox_access_token %>';
  var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/' + '<%= Rails.application.secrets.mapbox_project_id %>' + '/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
    attribution: '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  });

  var index_map = L.map('map')
    .addLayer(mapboxTiles)
    .setView([53.5, 26.5], 7);

  updateMarkers();
</script>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("profile.name") %></th>
      <th><%= t("profile.description") %></th>
      <th><%= t("profile.lat") %></th>
      <th><%= t("profile.lng") %></th>
      <th><%= t("profile.user") %></th>
      <th><%= t("profile.rating") %></th>
      <th><%= t("profile.created_at") %></th>
      <th><%= t("profile.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to profile.name, profile_path(profile) %></td>
        <td><%= profile.description %></td>
        <td><%= profile.lat %></td>
        <td><%= profile.lng %></td>
        <td><%= profile.user.try(:nickname) %></td>
        <td><%= profile.rating %></td>
        <td><%= profile.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("profile.edit")),
                      edit_profile_path(profile), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("profile.delete")),
                      profile_path(profile),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("profile.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("profile.new")),
            new_profile_path,
            :class => 'btn btn-primary' %>
