<div class="col-md-7 col-md-offset-2">

  <div class="panel panel-success">
    <div class="panel-heading">
      <h2 class="panel-title"><%= t('devise.registrations.edit.edit') %></h2>
    </div>
    <div class="panel-body">
      <div style="margin-right: 25px">

        <%= bootstrap_form_for(resource, as: resource_name,
                               url: registration_path(resource_name), html: {method: :put}) do |f| %>
            <%= devise_error_messages! %>

            <%= f.email_field :email, autofocus: true, hide_label: true,
                              placeholder: t('devise.registrations.edit.email') %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div><%= t('devise.registrations.edit.waiting') %> <%= resource.unconfirmed_email %></div>
            <% end %>

            <%= f.text_field :nickname, autofocus: true, hide_label: true,
                              placeholder: t('devise.registrations.edit.nickname') %>

            <%= f.text_field :location, autofocus: true, hide_label: true,
                              placeholder: t('devise.registrations.edit.location') %>

            <%= f.password_field :password, autocomplete: "off", hide_label: true,
                                 placeholder: t('devise.registrations.edit.new_password') %>

            <%= f.password_field :password_confirmation, autocomplete: "off", hide_label: true,
                                 placeholder: t('devise.registrations.edit.new_password_confirmation') %>

            <%= f.password_field :current_password, autocomplete: "off", hide_label: true,
                                 placeholder: t('devise.registrations.edit.current_password') %>

            <%= f.submit t('devise.registrations.edit.save_changes'), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= t('devise.registrations.edit.cancel_account') %>
      </h2>
    </div>
    <div class="panel-body">
      <%= t('devise.registrations.edit.cancel_text') %>
      <br/>
      <br/>
      <%= button_to t('devise.registrations.edit.cancel_account2'), registration_path(resource_name),
                    data: {confirm: t('devise.registrations.edit.cancel_confirm')},
                    method: :delete, class: "btn btn-danger" %>
    </div>
  </div>

  <%= link_to t('devise.registrations.edit.back'), :back, class: "btn btn-default" %>
</div>