<!--div class="blog-header">
  <h1 class="blog-title">Blog Articles</h1>
  <p class="lead blog-description">AnotherOneBlog in action!</p>
</div>

<p>
  <!%= link_to 'New post', new_article_path, role: "button", class: "btn btn-lg btn-success" %>
  <hr>
</p-->

<div class="row">
  <div class="col-sm-8 blog-main">

    <% @articles.each do |article| %>

    <div class="blog-post">
      <h2 class="blog-post-title"><%= article.title %></h2>
      <!%= article.user.email %>
      <p class="blog-post-meta"><%= article.created_at.strftime("%d/%m/%Y %H:%M") %> by <a href="#"><%= article.user.email%></a></p>

      <p><%= article.text.truncate(270, separator: '.') %></p>

      <p>
        <%= link_to 'Show post', article_path(article), role: "button", class: "btn btn-default" %>
      </p>

    </div><!-- /.blog-post -->

    <hr>

    <% end %>

  </div><!-- /.blog-main -->
</div><!-- /.row-->

