<div class="row">
  <div class="col-sm-7 blog-main col-md-offset-1">

    <% @articles.each do |article| %>

        <div class="blog-post">
          <h2 class="blog-post-title"><%= article.title %></h2>
          <!%= article.user.email %>
          <p class="blog-post-meta"><%= article.created_at.strftime("%d/%m/%Y %H:%M") %> by
            <a href="#"><%= article.user.email %></a></p>

          <p><%= article.text.truncate(270, separator: '.') %></p>

          <p>
            <%= link_to 'Show post', article_path(article), role: "button", class: "btn btn-default" %>
          </p>

        </div>

        <hr>

    <% end %>
    <br/>

    <%= will_paginate @articles %>

  </div>
</div>

