<div class="col-md-5 col-md-offset-3">
  <h2><%= t('devise.unlocks.new.resend') %></h2>

  <%= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post}) do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :email, autofocus: true, hide_label: true,
                        placeholder: t('devise.unlocks.new.email') %>
      <%= f.submit t('devise.unlocks.new.resend') %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
