<%= bootstrap_form_for @group do |f| %>

    <% if @group.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@group.errors.count, "error") %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.label t('group.title') %>
  <%= f.text_field :title, hide_label: true %>
  <%= f.label t('group.description') %>
  <%= f.text_field :description, hide_label: true %>
  <%= f.label t('group.users') %>
  <%= f.select :user_ids, User.all.map{|u|[u.nickname, u.id]}, { hide_label: true }, { :multiple => true } %>

  <%= f.submit t('group.save'), :class => 'btn btn-primary' %>
  <%= link_to t('group.cancel'), groups_path, :class => 'btn btn-default' %>

<% end %>
