<div class="col-md-5 col-md-offset-3">
  <h2><%= t('devise.passwords.new.forgot_label')%></h2>

  <%= bootstrap_form_for(resource, as: resource_name,
                         url: password_path(resource_name), html: {method: :post}) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email, autofocus: true, hide_label: true,
                        placeholder: t('devise.passwords.new.email_enter') %>
      <%= f.submit t('devise.passwords.new.send_instructions'), class: "btn btn-success" %>

  <% end %>

  <br/>

  <%= render "devise/shared/links" %>
</div>
