<div class="page-header">
  <%= link_to new_role_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= t('role.new') %>
  <% end %>
  <h1><%= t('role.roles') %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th><%= t('role.title') %></th>
      <th><%= t('role.description') %></th>
      <th><%= t('role.users') %></th>
      <th><%= t('role.create_ability') %></th>
      <th><%= t('role.read_ability') %></th>
      <th><%= t('role.update_ability') %></th>
      <th><%= t('role.delete_ability') %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @roles) do |role| %>
        <td><%= link_to role.title, role_path(role) %></td>
        <td><%= role.description %></td>
        <td><%= role.users.map { |user| user.nickname }.join(', ').html_safe %></td>
        <td>
          <% if role.create_ability %>
              <span class="glyphicon glyphicon-plus"></span>
          <% else %>
              <span class="glyphicon glyphicon-minus"></span>
          <% end %>
        </td>
        <td>
          <% if role.read_ability %>
              <span class="glyphicon glyphicon-plus"></span>
          <% else %>
              <span class="glyphicon glyphicon-minus"></span>
          <% end %>
        </td>
        <td>
          <% if role.update_ability %>
              <span class="glyphicon glyphicon-plus"></span>
          <% else %>
              <span class="glyphicon glyphicon-minus"></span>
          <% end %>
        </td>
        <td>
          <% if role.delete_ability %>
              <span class="glyphicon glyphicon-plus"></span>
          <% else %>
              <span class="glyphicon glyphicon-minus"></span>
          <% end %>
        </td>

        <td><%= link_to t('role.edit'), edit_role_path(role) %></td>
        <td><%= link_to t('role.delete'), role, method: :delete %></td>
    <% end %>
    </tbody>
  </table>
</div>
