<p><%= t('devise.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.unlock_instructions.unlock_explanation') %></p>

<p><%= t('devise.mailer.unlock_instructions.unlock_link') %></p>

<p><%= link_to t('devise.mailer.unlock_instructions.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
